doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title Library Manage System - Database Project
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css")
  body.unlogin
    aside
      h1 Library
      section#student
        span.title Students
        ul
          li
            a.query(href="#query") Query
      section#login
        span.title Login
        ul
          li
            a.login(href="#login") Login
          li
            a(href="mailto:mail@clarkok.com") Contact
      section#admin
        span.title Admin
        ul
          li
            a.borrow(href="#borrow") Borrow
          li
            a.return(href="#return") Return
          li
            a.cards(href="#cards") Cards
          li
            a.new-book(href="#new-book") New Book
          li
            a.new-card(href="#new-card") New Card
          li
            a.logout(href="#logout") Logout
    #wrapper.start
      section#start-content
        h2 Welcome
      section#query-content.list-page
        h2 Query
        .content
          .filter
            .switch#query-disp-mode(data-value="list")
              .choose(data-value="list")
                i.fa.fa-th-list
              .choose(data-value="table")
                i.fa.fa-th
            form#filter(method="GET" action="javascript:void(0)")
              ul.list#query-filter
                li.title
                  .column.filter-name
                    span.title Name
                  .column.filter-relation
                    span.title Relation
                  .column.filter-value
                    span.title Value
                li.add
                  .column.add
                    span.title +
          ul.list#query-main-list
            li.title
              .column.title
                span.title Title
              .column.category
                span.title Category
              .column.press
                span.title Press
              .column.year
                span.title Year
              .column.author
                span.title Author
              .column.op
          ul.table#query-main-table
          ul.page-number
      section#login-content
        h2 Login
        .content
          form(method="POST" action="javascript:void(0)")
            span.input-span
              input#username(type="text" name="username")
              label(for="username") Username
            span.input-span
              input#passwd(type="password" name="password")
              label(for="passwd") Password
            span.submit
              button(type="submit") Submit
      section#borrow-content
        h2 Borrow
        .content
          .book-info
          form#borrow-form(method="POST" action="javascript:void(0)")
            span.input-span
              input#borrow-cid(type="text" name="cid")
              label(for="borrow-cid") Card ID
            span.submit
              button(type="submit") Borrow
      section#return-content
        h2 Return
        .content
          .book-info
          form#borrow-form(method="POST" action="javascript:void(0)")
            span.input-span
              input#borrow-cid(type="text" name="cid")
              label(for="borrow-cid") Card ID
            span.submit
              button(type="submit") Return
      section#cards-content.list-page
        h2 Cards
        .content
          .filter
            form#cards-filter-wrapper(method="GET" action="javascript:void(0)")
              ul.list#cards-filter
                li.title
                  .column.filter-name
                    span.title Name
                  .column.filter-relation
                    span.title Relation
                  .column.filter-value
                    span.title Value
                li.add
                  .column.add
                    span.title +
          ul.list#cards-main-list
            li.title
              .column.cid
                span.title ID
              .column.c-name
                span.title Name
              .column.unit
                span.title Unit
              .column.c-category
                span.title Category
          ul.page-number
      section#new-book-content
        h2 New Book
        .content
          form(action="javascript:void(0)")#new-book-form
            span.input-span
              input#new-book-title(type="text" name="title")
              label(for="new-book-title") Title
            span.input-span
              input#new-book-catagory(type="text" name="catagory")
              label(for="new-book-category") Category
            span.input-span
              input#new-book-press(type="text" name="press")
              label(for="new-book-press") Press
            span.input-span
              input#new-book-year(type="text" name="year")
              label(for="new-book-year") Year
            span.input-span
              input#new-book-author(type="text" name="author")
              label(for="new-book-author") Author
            span.input-span
              input#new-book-price(type="text" name="price")
              label(for="new-book-price") Price
            span.input-span
              input#new-book-total(type="text" name="total")
              label(for="new-book-total") Total
            span.input-span
              input#new-book-cover(type="text" name="cover")
              label(for="new-book-cover") Cover
            span.submit
              button(type="submit") Submit
      section#new-card-content
        h2 New Card
        .content
          form(action="javascript:void(0)")#new-card-form
            span.input-span
              input#new-card-name(type="text" name="name")
              label(for="new-card-name") Name
            span.input-span
              input#new-card-unit(type="text" name="unit")
              label(for="new-card-unit") Unit
            span.input-span
              input#new-card-category(type="text" name="category")
              label(for="new-card-category") Category (student or teacher)
            span.submit
              button(type="submit") Submit

    script(src="js/jquery.js")
    script(src="js/jquery.MD5.js")
    script(src="js/socket.io.js")
    script(src="js/socket_event.js")
    script(src="js/switch.js")
    script(src="js/list.js")
    script(src="js/filter.js")
    script(src="js/layout.js")
    script(src="js/query.js")
    script(src="js/hook.js")
    script(src="js/script.js")
