doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title Library Manage System - Database Project
    link(rel="stylesheet" href="css/style.css")
  body.unlogin
    aside
      h1 Library
      section#student
        span.title Students
        ul
          li
            a(href="#query") Query
      section#login
        span.title Login
        ul
          li
            a(href="#login") Login
          li
            a(href="mailto:mail@clarkok.com") Contact
      section#admin
        span.title Admin
        ul
          li
            a(href="#borrow") Borrow
          li
            a(href="#return") Return
          li
            a(href="#cards") Cards
          li
            a(href="#books") Books
          li
            a(href="#logout") Logout
    #wrapper.start
      section#start-content
        h2 Welcome
      section#query-content
        h2 Query
        .content
          ul
            li.title
              .column.bid
                span.title ID
              .column.category
                span.title Category
              .column.title
                span.title Title
              .column.press
                span.title Press
              .column.year
                span.title Year
              .column.author
                span.title Author
              .column.price
                span.title Price
              .column.total
                span.title Total
              .column.stock
                span.stock Stock
          ul.page-number
      section#login-content
        h2 Login
        .content
          form(method="POST" action="javascript:void(0)")
            span.input-span
              input#username(type="text" name="username")
              label(for="username") Username
            span.input-span
              input#passwd(type="password" name="password")
              label(for="passwd") Password
            span.submit
              button(type="submit") Submit
      section#borrow-content
        h2 Borrow
      section#return-content
        h2 Return
      section#cards-content
        h2 Cards
      section#books-content
        h2 Books

    script(src="js/jquery.js")
    script(src="js/socket.io.js")
    script(src="js/script.js")
