$aside_width = 200px
$background = #eee
$color = #262626

$aside_background = $color
$aside_color = $background - #111

@import 'switch.styl'

html, body
  margin 0
  padding 0
  background-color $background

html
  height 100%

body
  padding-left $aside_width
  min-height 100%
  font-family "Microsoft Yahei"

aside
  background-color $aside_background
  box-sizing border-box
  color $aside_color
  height 100%
  left 0
  overflow-x hidden
  overflow-y auto
  position fixed
  top 0
  width $aside_width
  h1
    border-bottom 1px solid $aside_color
    color $aside_color + #111
    font-size 2em
    font-weight 300
    margin 0
    padding .5em
  section
    margin-top 1em
    overflow hidden
    transition all .5s
    .title
      color $aside_color - #444
      padding-left 1em
    ul
      background-color black
      list-style none
      margin 0
      padding 0
      li > a, li > a:visited
        color $aside_color
        display block
        font-size .8em
        height 2em
        line-height 2em
        overflow hidden
        padding-left 2em
        position relative
        text-decoration none
        transition all .3s
        &:after
          border-color transparent $background transparent transparent
          border-style solid
          border-width 1em
          content " "
          display block
          height 0
          position absolute
          right -2em
          top 0
          transition all .3s
          width 0
        &:hover, &.current
          background-color $aside_background + #333
          color $aside_color + #111
          cursor pointer
        &.current
          padding-left 3em
          &:after
            right 0

body.unlogin
  #login
    max-height 100%
  #admin
    max-height 0
    margin-top 0

body.login
  #login
    max-height 0
    margin-top 0
  #admin
    max-height 100%

@keyframes show-title {
  from {
    padding-left: 100px;
    opacity: 0;
  }
  to {
    padding-left: 0.5;
    opacity: 1;
  }
}

@-webkit-keyframes show-title {
  from {
    padding-left: 100px;
    opacity: 0;
  }
  to {
    padding-left: 0.5;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#wrapper
  section
    display none
    &.show
      display block
      h2
        animation show-title .3s ease-out
        -webkit-animation show-title .3s ease-out
      .content
        animation fade-in 1s ease-out
        -webkit-animation fade-in 1s ease-out
    h2
      border-bottom 1px solid $color
      color $aside_background
      font-size 2em
      font-weight 300
      margin 0
      padding .5em
      position relative
      left 0
    .content
      padding 1em

#query-content
  .content
    overflow-x auto
    .filter
      margin-bottom 2em
    #query-disp-mode
      float right
    ul.list
      margin 0
      padding 0
      list-style none
      .column
        display inline-block
        overflow hidden
        height 2em
      li.title
        border-top 2px solid $color
        border-bottom 2px solid $color
        min-height 2em
        line-height 2em
        color $background
        background-color $color
      li
        text-align center
        overflow hidden
        border-bottom 1px solid $color
        border-left 1px solid $color
        border-right 1px solid $color
        height 0
        line-height 2em
        transition all .3s
        &.show, &.add
          height 2em
        &.add:hover
          cursor pointer
          font-size 1.5em
    #query-filter
      width 500px
      .show
        position relative
        span.delete
          position absolute
          top .5em
          left 1em
          height 1em
          width 1em
          line-height .9em
          background-color #f33
          border-radius 1em
          color $background
          border 1px solid #c33
          opacity 0
          transition all .3s
          cursor pointer
        &:hover
          span.delete
            opacity 1
      .column
        &.filter-name
          width 200px
        &.filter-relation
          width 98px
        &.filter-value
          width 200px
        &.add
          width 500px
    #query-main
      width 100%
      overflow-x auto
      li
        width 900px
      .column
        &.bid
          width 50px
        &.category
          width 100px
        &.title
          width 200px
        &.press
          width 200px
        &.year
          width 50px
        &.author
          width 100px
        &.price
          width 100px
        &.total
          width 50px
        &.stock
          width 50px
#login-content
  .input-span
    border-bottom 2px solid $color
    display block
    height 2em
    margin-bottom 1em
    position relative
    width 300px
    input
      background-color transparent
      border none
      font-size 1rem
      line-height 2em
      outline 0
      position relative
      width 100%
    label
      color $color + #777
      cursor text
      font-size 1em
      left 0
      line-height 2em
      padding-left .5em
      position absolute
      top 0
      transition all .3s
    input:active + label, input:focus + label, input.not-empty + label
      color $color
      font-size .5em
      padding 0
      top -1.5em
  .submit
    display block
    height 2em
    position relative
    width 300px
    button
      border 2px solid transparent
      background-color transparent
      display block
      height 100%
      width 100%
      transition all .3s
      cursor pointer
      outline 0
      font-size 1rem
      &:hover, &:focus, &:active
        border-color $color
